.main__sidebar {
    position: fixed;
    padding: 20px;
    margin: 0 10px 10px;
    top: 125px;
}


.sidebar__title {
    width: 200px;
    margin: 0;
    padding: 10px 0 10px 0;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    color: #000000;
    font-size: 22px;
    letter-spacing: 3px;
    border-bottom: 1px outset #4e4e4e;
}

.main__sidebar > ul {
    list-style: none;
    padding-left: 8px;

}
@media (max-width: 1265px) {
    .main__sidebar > ul {
        padding: 15px;
    }
}

.main__sidebar > ul > li > a {
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    font-size: 20px;
    color: #6f6f6f;
    margin: 15px 15px 15px 0;
    text-decoration: none;
    display: block;
    width: 100px;
    transition: .3s;
}

.main__sidebar > ul > li:first-child > a {
    margin-top: 35px;
}

.main__sidebar > ul > li > a:hover {
    color: #f62f5e;
}


@media (max-width: 1265px) {
    .main__sidebar {
        top: 150px;
        padding: 0;
        height: auto;
        margin-top: 0;
        margin-left: 20px;
    }
    .main__sidebar > ul {
        list-style: none;
        margin: 0;
        padding: 4px 0 0 8px;
    }

}
